/* $clr-header: #2980b9;

$background: url(https://bit.ly/1V2DIum);
$container-background: rgba(66,66,66,0.4); */


#header {
  background-color: #2980b9;
  color: white;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  box-shadow: 0px 2px 5px #555;
  }
  .left, .navbar, .right {
    display: inline-block;
  }
  .left, .right {
    width: 30%;
    padding-left: 5%;
  }
  .navbar {
    width: 40%;
  }
  .left {
    float: left;
  }
  .right {
    text-align: center;
    float: right;
    vertical-align: bottom;
    line-height: 80px;
  }
  .container{
    margin-top: auto;
    width: 60%;
  }
  .btn-default {
    display: inline-block;
    min-height: 50px;

  }
  .nonclick {
    border:none;
    background-color: #eee;

  }
  #map{
    margin-left: 20%;
    margin-top: 50px;
    height: 450px;
    width: 60%;
  }
  .city{
    text-align: center;
  }
  .weather{
    margin-left: 5%;
  }
  .row{
    text-align: center;
  }
  .col-xs-3{
    padding:none;
  }
